
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a class="btn btn-success" style="color:green">绿色按钮</a>
        <input class="form-control" value="发发发" style="color:green" />
    </div>
</body>
</html>
