<div class="webhelpinfo hide">
    <div id="content_en-us_help_7">
        <h4>Custom area(Index Page)</h4>
        <div>
            <ul>
                <li>Foreground call:@@Html.GetHomeArea("{title}")</li>
            </ul>
        </div>
    </div>
    <div id="content_en-us_help_8">
        <h4>Custom area(Global)</h4>
        <div>
            <ul>
                <li>Foreground call:@@Html.GetGlobalArea("{title}")</li>
            </ul>
        </div>
    </div>
    <div id="content_en-us_help_thumbnail">
        <h4>Album Thumbnail Setting</h4>
        <div>
            <ul>
                <li>Thumbnail Format:{width}x{height},the break character is lowercase letter x, eg. 200x150</li>
                <li>Multiple Thumbnails:seperating by , eg. 200x150,90x60</li>
                <li>Foreground call:@@Html.Thumbnail({Big pic path}, "{Thumbnail format}")</li>
            </ul>
        </div>
    </div>
    
    <div id="content_en-us_help_categoryIsIndex">
        <h4>Display on the Home page</h4>
        <div>
            <ul>
                <li>Article foreground call:@@Html.GetArticles("{key}")</li>
                <li>SinglePage foreground call:@@Html.GetSinglePage("{key}")</li>
                <li>Album foreground call:@@Html.GetAlbums("{key}")</li>
                <li>Note foreground call:@@Html.GetNotes("{key}")</li>
                <li>Get the first item:@@Html.GetFirstArticle("{key}"); @@Html.GetFirstSinglePage("{key}");</li>
            </ul>
        </div>
    </div>

    <div id="content_zh-cn_help_7">
        <h4>自定义区域(首页)</h4>
        <div>
            <ul>
                <li>前台调用：@@Html.GetHomeArea("{标题}")</li>
            </ul>
        </div>
    </div>
    <div id="content_zh-cn_help_8">
        <h4>自定义区域(全网)</h4>
        <div>
            <ul>
                <li>前台调用：@@Html.GetGlobalArea("{标题}")</li>
            </ul>
        </div>
    </div>
    <div id="content_zh-cn_help_thumbnail">
        <h4>相册缩略图设置</h4>
        <div>
            <ul>
                <li>缩略图格式:{width}x{height},间隔符为小写字母x,例如200x150</li>
                <li>多个格式缩略图:以,间隔,例如200x150,90x60</li>
                <li>前台调用:@@Html.Thumbnail({大图路径}, "{缩略图格式}")</li>
            </ul>
        </div>
    </div>
    <div id="content_zh-cn_help_categoryIsIndex">
        <h4>显示在首页</h4>
        <div>
            <ul>
                <li>文章首页调用:@@Html.GetArticles("{关键字}")</li>
                <li>单页首页调用:@@Html.GetSinglePage("{关键字}")</li>
                <li>相册首页调用:@@Html.GetAlbums("{关键字}")</li>
                <li>留言首页调用:@@Html.GetNotes("{关键字}")</li>
                <li>获取第一条记录:@@Html.GetFirstArticle("{关键字}"); @@Html.GetFirstSinglePage("{关键字}");</li>
            </ul>
        </div>
    </div>
    <div id="content_zh-tw_help_7">
        <h4>自定義區域(首頁)</h4>
        <div>
            <ul>
                <li>前台調用：@@Html.GetHomeArea("{標題}")</li>
            </ul>
        </div>
    </div>
    <div id="content_zh-tw_help_8">
        <h4>自定義區域(全網)</h4>
        <div>
            <ul>
                <li>前台調用：@@Html.GetGlobalArea("{標題}")</li>
            </ul>
        </div>
    </div>
    <div id="content_zh-tw_help_thumbnail">
        <h4>相冊縮略圖設置</h4>
        <div>
            <ul>
                <li>縮略圖格式:{width}x{height},間隔符為小寫字母x,例如200x150</li>
                <li>多個格式縮略圖:以,間隔,例如200x150,90x60</li>
                <li>前台調用:@@Html.Thumbnail({大圖路徑}, "{縮略圖格式}")</li>
            </ul>
        </div>
    </div>
<div id="content_zh-tw_help_categoryIsIndex">
        <h4>顯示在首頁</h4>
        <div>
            <ul>
                <li>文章首頁調用:@@Html.GetArticles("{關鍵字}")</li>
                <li>單頁首頁調用:@@Html.GetSinglePage("{關鍵字}")</li>
                <li>相冊首頁調用:@@Html.GetAlbums("{關鍵字}")</li>
                <li>留言首頁調用:@@Html.GetNotes("{關鍵字}")</li>
                <li>獲取第一條記錄:@@Html.GetFirstArticle("{關鍵字}"); @@Html.GetFirstSinglePage("{關鍵字}");</li>
            </ul>
        </div>
    </div>
</div>