
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <input class="form-control" style="color:red" value="红色主题" />
        <a class="btn btn-danger" style="color:red">红色按钮</a>
    </div>
</body>
</html>
