<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Webtitle>Yqblog</Webtitle>
  <WebDescription />
  <Logo>/content/image/logo.png</Logo>
  <WebPath>/</WebPath>
  <IndexPagerCount>15</IndexPagerCount>
  <CatePagerCount>20</CatePagerCount>
  <CommentPagerCount>20</CommentPagerCount>
  <NotePagerCount>20</NotePagerCount>
  <ForumPagerCount>30</ForumPagerCount>
  <ThreadPagerCount>30</ThreadPagerCount>
  <DecorateImgCount>50</DecorateImgCount>
  <ThumbnailInfo>200x200,85x85</ThumbnailInfo>
  <DefaultLang>zh-cn</DefaultLang>
  <VersionNo>20131112113400</VersionNo>
  <MaxSummaryCharCount>200</MaxSummaryCharCount>
  <AdminEmail>yqhomenet@gmail.com</AdminEmail>
  <SmtpServer>smtp.gmail.com</SmtpServer>
  <SmtpUser>yqhomenet</SmtpUser>
  <SmtpPass>xxx</SmtpPass>
  <SmtpPort>587</SmtpPort>
  <IfSendReplyEmail>1</IfSendReplyEmail>
  <IfWebStatic>2</IfWebStatic>
  <IfHtmlCreated>1</IfHtmlCreated>
  <WebStaticFolderPart1>static</WebStaticFolderPart1>
  <WebStaticFolderPart2>{year}/{month}</WebStaticFolderPart2>
  <WebStaticFolder>static/{lang}/{year}/{month}</WebStaticFolder>
  <WebLangList>
    <string>zh-cn</string>
    <string>zh-tw</string>
    <string>en-us</string>
  </WebLangList>
  <UserPermission>false</UserPermission>
  <IfValidateCode>false</IfValidateCode>
  <IfPagingAjax>true</IfPagingAjax>
  <IfIndependentContentViaLang>2</IfIndependentContentViaLang>
  <WebContentLang>all</WebContentLang>
  <LangTemplateStr>[{"Lang":"zh-cn","Template":""},{"Lang":"zh-tw","Template":""},{"Lang":"en-us","Template":"bs3"}]</LangTemplateStr>
  <MaxCategoryId>69</MaxCategoryId>
</GeneralConfigInfo>